<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new post</title>
</head>
<body>
    <div class="form-container">
    <h2>Create New Post</h2>
    <form method="post" action="/posts">
        <input placeholder="Enter username" name="username" required> <br>
        <textarea placeholder="Write your content" name="content" rows="5" required></textarea>
        <button>Submit Post</button>
    </form>
    <a href="/posts">Back</a>
    </div>
</body>
</html>
